source/credits: https://towardsdatascience.com/social-media-sentiment-analysis-in-python-with-vader-no-training-required-4bc6a21e87b8

## Import libraries

In [11]:
import pandas as pd
import re 

import nltk 
from nltk.tokenize import RegexpTokenizer
from collections import Counter 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Download the lexicon
# nltk.download("vader_lexicon")

# Import the lexicon 
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Create an instance of SentimentIntensityAnalyzer
sent_analyzer = SentimentIntensityAnalyzer()

In [33]:
# Read the data set
data = "CSV Data for Classifier/avalanche_straitstimes.csv"
sentiment_data = pd.read_csv(data)

sentiment_data = sentiment_data.drop(columns=[sentiment_data.columns[0],'location', 'news source(url)', 'keywords', 'class_name', 'new_class_name'], axis=1)
sentiment_data.head(3)

,date,news title,content summary
0,Feb-22,Himalayan avalanche kills seven Indian soldier...,MUMBAI (REUTERS) - A Himalayan avalanche kille...
1,Feb-22,Eight killed in two days after third deadly av...,ZURICH (REUTERS) - One person was killed and f...
2,Feb-22,Avalanche in Austria near Swiss border kills five,VIENNA (REUTERS) - An avalanche in an area of ...

In [34]:
sentiment_data["sentiment score"] = sentiment_data['content summary'].apply(lambda x: sent_analyzer.polarity_scores(x))
sentiment_data.head(3)

,date,news title,content summary,sentiment score
0,Feb-22,Himalayan avalanche kills seven Indian soldier...,MUMBAI (REUTERS) - A Himalayan avalanche kille...,"{'neg': 0.092, 'neu': 0.859, 'pos': 0.049, 'co..."
1,Feb-22,Eight killed in two days after third deadly av...,ZURICH (REUTERS) - One person was killed and f...,"{'neg': 0.211, 'neu': 0.723, 'pos': 0.066, 'co..."
2,Feb-22,Avalanche in Austria near Swiss border kills five,VIENNA (REUTERS) - An avalanche in an area of ...,"{'neg': 0.166, 'neu': 0.763, 'pos': 0.071, 'co..."

In [43]:
def get_compound_score(sentimentScore):
    return sentimentScore['compound']

def format_data(sentimentScore):
    
    if sentimentScore['compound'] >= 0.5:
        return 'positive'
    elif sentimentScore['compound'] <= -0.5:
        return 'negative'
    elif sentimentScore['compound'] > -0.5 or sentimentScore['compound'] < 0.5:
        return 'neutral'

# Apply the transformation
sentiment_data["compound score"] = sentiment_data['sentiment score'].apply(lambda x: get_compound_score(x))
sentiment_data["sentiment label"] = sentiment_data['sentiment score'].apply(lambda x: format_data(x))
sentiment_data

,date,news title,content summary,sentiment score,sentiment label,compound score
0,Feb-22,Himalayan avalanche kills seven Indian soldier...,MUMBAI (REUTERS) - A Himalayan avalanche kille...,"{'neg': 0.092, 'neu': 0.859, 'pos': 0.049, 'co...",negative,-0.7506
1,Feb-22,Eight killed in two days after third deadly av...,ZURICH (REUTERS) - One person was killed and f...,"{'neg': 0.211, 'neu': 0.723, 'pos': 0.066, 'co...",negative,-0.9712
2,Feb-22,Avalanche in Austria near Swiss border kills five,VIENNA (REUTERS) - An avalanche in an area of ...,"{'neg': 0.166, 'neu': 0.763, 'pos': 0.071, 'co...",negative,-0.9285
3,Feb-22,Himalayan avalanche traps Indian Army patrol t...,NEW DELHI (REUTERS) - A Himalayan avalanche tr...,"{'neg': 0.031, 'neu': 0.851, 'pos': 0.118, 'co...",positive,0.8225
4,Feb-21,"4 skiers killed in avalanche in Utah, official...",SALT LAKE CITY (NYTIMES) - Four back-country s...,"{'neg': 0.153, 'neu': 0.824, 'pos': 0.023, 'co...",negative,-0.9509
...,...,...,...,...,...,...
511,May-15,Porters hired to deliver aid to Nepal quake vi...,KATHMANDU (AFP) - The United Nations World Foo...,"{'neg': 0.119, 'neu': 0.804, 'pos': 0.078, 'co...",negative,-0.6249
512,May-15,Nepal river blocked by landslide flowing again...,KATHMANDU (Reuters) - A river dammed up by a h...,"{'neg': 0.096, 'neu': 0.858, 'pos': 0.046, 'co...",negative,-0.7650
513,Apr-15,Nepal earthquake: Teen pulled from Nepal quake...,"KATHMANDU (REUTERS, AFP) - Rescuers pulled a 1...","{'neg': 0.162, 'neu': 0.679, 'pos': 0.159, 'co...",neutral,-0.3400
514,Apr-15,Nepal earthquake: Survivor found after 80-hour...,Thousands were killed when the earthquake brou...,"{'neg': 0.094, 'neu': 0.848, 'pos': 0.057, 'co...",negative,-0.6249
515,May-15,Nepal earthquake: 101-year-old man pulled aliv...,KATHMANDU (AFP) - A 101-year-old man was pulle...,"{'neg': 0.042, 'neu': 0.905, 'pos': 0.054, 'co...",neutral,0.2960

In [41]:
sentiment_data.to_csv('sentiment_analysis.csv')

note: have yet to do text preprocessing (i.e. stopwords removal, lemmatizing)